# HTTP Server
HTTP_SERVER_PORT=8081

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ias_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_INVALIDATION_SECOND=60

# InfluxDB
INFLUXDB_URL=https://influxdb.com
INFLUXDB_TOKEN=token_here
INFLUXDB_ORG=sample_org

# STI Automation
STI_AUTOMATION_ENABLE=true
